*{
    margin: 0;
    padding: 0;

}

.tela{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.circulo{
    position: absolute;
    font-size: 50px;
   
}

#retorna {
    font-size: 70px;
    cursor: pointer;
    flex-direction: column;
    border-radius: 10px;
    border: 0;
    display: flex;
    margin: 20px;
}

#retorna:hover{
    border: 5px solid white;
}

#avanca {
    font-size: 70px;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    margin: 20px;
    border: 0;
    
}

#avanca:hover{
    border: 5px solid white;
}